@model IEnumerable<CoctailsGuideWebApplication.Coctails>

@{
    ViewData["Title"] = "IndexHashtag";
}

<h1>Коктейлі за способом приготування  </h1>
<a asp-controller="Techniques" asp-action="Details" asp-route-id="@ViewBag.TechniquesId">@ViewBag.TechniqueName </a>


<p>
    <a asp-action="Create" asp-route-id="@ViewBag.TechniquesId">Додати новий коктейль</a>
</p>
<table class="table">

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationHistory)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>

