@model IEnumerable<CoctailsGuideWebApplication.Coctails>

@{
    ViewData["Title"] = "Index";
}

<div class="card text-white bg-primary mb-3" style="width: 20rem; height: 10rem;">
    <div class="card-body">
        <h4 class="card-title">Coctails</h4>
    </div>
</div>

@if (User.IsInRole("admin"))
{
    <p>
        <a role="button" class="btn btn-dark" asp-action="Create">Create new coctail</a>
    </p>
}

<table class="table table-hover">

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationHistory)
                </td>
                <td>
                    <a role="button" class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td>
                    <a role="button" class="btn btn-dark" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

