@model IEnumerable<CoctailsGuideWebApplication.Techniques>

@{
    ViewData["Title"] = "Index";
}

<div class="card text-white bg-primary mb-3" style="width: 20rem; height: 10rem">
    <div class="card-body">
        <h4 class="card-title">Techniques</h4>
        <p class="card-text">
            Methods for preparing cocktails.
        </p>
    </div>
</div>
@if (User.IsInRole("admin"))
{
    <p>
        <a role="button" class="btn btn-dark" asp-action="Create">Create new technique</a>
    </p>
}


<div class="card bg-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
        <h5 class="card-title">Import information from a file</h5>
        <div class="card-text">
            @using (Html.BeginForm("Import", "Techniques", FormMethod.Post, new
            {
                enctype = "multipart/form-data",
                id = "frm-excel"
            }))
            {       <div>
                        <label>Input file</label>
                        <input type="file" class="form-control-file" id="fileExcel" name="fileExcel">
                        <small id="fileHelp" class="form-text text-muted">Choose Excel-file for downloading.</small>
                        <div>
                            <input role="button" class="btn btn-secondary" type="submit" value="Upload" />
                        </div>
                    </div>
            }
        </div>
    </div>
</div>

<div class="card bg-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
        <h5 class="card-title">Export information to a file</h5>
        <p class="card-text">
            <a role="button" class="btn btn-secondary" asp-action="ExportToExcel">Generate xlsx document</a>
        </p>
        <p class="card-text">
            <a role="button" class="btn btn-secondary" asp-action="ExportToDocx">Generate docx document</a>
        </p>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a role="button" class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td>
                    <a role="button" class="btn btn-dark" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
