@using Microsoft.AspNetCore.Identity
@model CoctailsGuideWebApplication.ViewModel.ChangeRoleViewModel

<div class="card text-white bg-primary mb-3" style="width: 20rem; height: 10rem;">
    <div class="card-body">
        <h4 class="card-title">Change roles for user </h4>
        <p class="card-text">
            @Model.UserEmail
        </p>
    </div>
</div>

<form asp-action="Edit" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group">
        @foreach (IdentityRole role in Model.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role.Name"
                   @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
            }
    </div>
    <button type="submit" class="btn btn-outline-secondary">Save</button>
</form>

