@model IEnumerable<CoctailsGuideWebApplication.Strengths>

@{
    ViewData["Title"] = "Index";
}

<div class="card text-white bg-primary mb-3" style="width: 20rem; height: 10rem;">
    <div class="card-body">
        <h4 class="card-title">Strength</h4>
    </div>
</div>

@if (User.IsInRole("admin"))
{
    <p>
        <a role="button" class="btn btn-dark" asp-action="Create">Create new strength</a>
    </p>
}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="row">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                </th>
                <td>
                    <a role="button" class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td>
                    <a role="button" class="btn btn-dark" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
